@{
  Layout = "_Layout";
}

@using Library.ViewModels
@model RegisterViewModel

<h4>Register New User</h4>
<hr/>

@if(!ViewData.ModelState.IsValid)
{
  @Html.ValidationSummary("Please fix the following error(s):")
}
<div class="register-form container">
  @using (Html.BeginForm("Register", "Account", FormMethod.Post))
  {
    @Html.LabelFor(user => user.Email)
    <br/>
    @Html.TextBoxFor(user => user.Email)
    <br/>
    @Html.LabelFor(user => user.Password)
    <br/>
    @Html.EditorFor(user => user.Password)
    <br/>
    @Html.LabelFor(user => user.ConfirmPassword)
    <br/>
    @Html.EditorFor(user => user.ConfirmPassword)
    <br/>
    <br/>

    <input type="submit" value="Register" class="btn btn-primary" />
  }
</div>